@font-face {
  font-family: title-font;
  src: url(./fonts/Whitelist-Demo.otf);
}

@font-face {
  font-family: todo-font;
  src: url(./fonts/hlmt-rounded.ttf);
}

@font-face {
  font-family: wavy-font;
  src: url(./fonts/Wildy-Sans.ttf);
}

/* General page setup */
html, 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(246, 246, 243);
}

/* Page header styling */
#page-header {
  background: rgb(148,36,36);
  background: linear-gradient(105deg, rgba(148,36,36,0.9262079831932774) 16%, rgba(241,24,10,0.758140756302521) 97%);
  margin-top: 0;
  padding: 10px;
}

#title-menu-drop {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-dropper {
  visibility: hidden;
}

#page-header h1 {
  font-family: title-font;
  font-size: 55px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

#page-header span {
  font-size: 60px;
  text-shadow: 20px -15px 15px rgba(255, 255, 255, 1);;
}

#logo-and-statement {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.logo-small {
  color: white;
  --fa-animation-duration: 2.1s;
  --fa-bounce-land-scale-x: 1.5;
  --fa-animation-iteration-count: 1;
}

.logo-mid {
  color: white;
  --fa-animation-duration: 2.1s;
  --fa-animation-iteration-count: 1;
}

.logo-large {
  color: white;
  --fa-animation-duration: 2.1s;
  --fa-animation-iteration-count: 1;
}

#page-header h2 {
  margin-left: auto;
  text-align: right;
  margin: 0 auto;
  display: inline-block;
  color: white;
}

#page-body {
  display: flex;
  height: 91vh;
}

/* Side menu styling */
#side-menu {
  background-color: rgb(246, 246, 243);
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

/* Top part of side menu with timeline divs */
#timelines {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.timeline-div {
  width: 80%;
  background-color: white;
  border: 1px solid rgb(107, 102, 102);
  border-radius: 5px;
  padding: 10px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: .5s ease-in-out;
}

.current-list-view {
  background: rgb(148,36,36);
  background: linear-gradient(105deg, rgba(148,36,36,0.9262079831932774) 16%, rgba(241,24,10,0.758140756302521) 97%);
  color: white;
}

.timeline-div:hover {
  border: 1px solid rgb(134, 8, 8);
  background-color: rgb(243, 221, 221);
  box-shadow: 7px -2px 17px -7px rgba(0,0,0,0.38);
}

.timeline-div span {
  font-family: todo-font;
  font-size: 22px;
}


#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(148,36,36);
  background: linear-gradient(105deg, rgba(148,36,36,0.9262079831932774) 16%, rgba(241,24,10,0.758140756302521) 97%);
  color: white;
  width: 100%;
  height: 50px;
  line-height: 0px;
  padding: 0;
  text-align: center;
}

#projects-title h2 {
  font-family: title-font;
  font-size: 30px;
}

#projects-title span {
  font-family: wavy-font;
  font-size: 35px;
}

#add-project-organizer {
  transition: 1s ease-in-out;
  cursor: pointer;
}

#add-project-organizer:hover {
  transform: rotate(360deg);
}

#projects-line {
  margin-top: 20px;
  width: 90%;
  border-top: .5px solid rgb(173, 167, 167);
  margin: 23px auto;
  opacity: .6;
}

/* Bottom of side menu project area */
.project {
  width: 80%;
  background-color: white;
  border: 1px solid rgb(107, 102, 102);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.project:hover {
  border: 1px solid rgb(134, 8, 8);
  background-color: rgb(246, 242, 242);
  box-shadow: 7px -2px 17px -7px rgba(0,0,0,0.38);

}

.project-name {
  font-family: todo-font;
  font-size: 20px;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 5px;
}

/* Form for entering and editing project containers */
#project-form {
  width: 400px;
  border-radius: 2%;
  color: rgb(107, 102, 102);
  box-shadow: 2px 5px 16px 8px rgba(0,0,0,0.31);
  font-family: todo-font;
  margin: 0 auto;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 229, 224);
}

#project-form label {
  font-size: 30px;
}

#project-form-line {
  width: 90%;
  border-top: .5px solid rgb(173, 167, 167);
  margin: 23px auto;
  opacity: .6;
}

#project-form-footer {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-bottom: 10px;
}

#project-form-closing-button {
  color: white;
  cursor: pointer;
  line-height: 5px;
  font-size: 30px;
  padding: 10px;
}

#project-title-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 20px auto;
  font-size: 20px;
}

#project-title-input {
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  max-width: 98%;
  min-width: 98%;
  font-size: 15px;
  display: flex;
  align-items: center;
}


/* Main part of page with todo list */
#todo-lists {
  width: 85%;
  border-left: 1px solid rgb(168, 26, 26);
  background-color: rgb(231, 227, 227);
  overflow: scroll;
}

#todo-container {
  width: 85%;
  background-color: rgb(231, 227, 227);
  overflow: scroll;
  margin: 0 auto;
}

#list-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(34, 26, 26);
  gap: 20px;
  font-size: 25px;
}

#list-name h1 {
  font-family: title-font;
  font-size: 50px;
}

#list-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 60%;
  border-bottom: 2px solid rgb(173, 167, 167);
  margin: 23px auto;
  opacity: .6;
}

#list-line h3 {
  font-family: wavy-font;
  font-size: 30px;
}

#add-todo {
  transition: 1s ease-in-out;
  cursor: pointer;
}

#add-todo:hover {
  transform: rotate(360deg);
}

/* Part of main page under line that houses todo list */
.todo {
  background-color: rgb(251, 242, 242);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 60%;
  border: 1px solid rgb(173, 167, 167);
  border-radius: 5px;
  margin: 23px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.medium-priority {
  background: rgb(226, 145, 145);
  background: linear-gradient(105deg, rgba(235, 78, 78, 0.926) 16%, rgba(236, 89, 78, 0.758) 97%);
  color: rgb(49, 48, 48);
}

.high-priority {
  background: rgb(148,36,36);
  background: linear-gradient(105deg, rgba(148,36,36,0.9262079831932774) 16%, rgba(241,24,10,0.758140756302521) 97%);
  color: white;
}

.checkbox-and-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-and-title p {
  font-family: todo-font;
  font-size: 20px;
}

.date-icons-for-editing {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Tint added when forms are openned */
.tint {
  background:
    black,
    linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
  filter: brightness(50%);
}
 
/* To do entry form */
#todo-form {
  width: 400px;
  border-radius: 2%;
  color: rgb(107, 102, 102);
  box-shadow: 2px 5px 16px 8px rgba(0,0,0,0.31);
  font-family: todo-font;
  margin: 0 auto;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 229, 224);
}

#todo-form label {
  font-size: 30px;
}

/* style that makes forms disapear */
.invisible {
  visibility: hidden;
}

.form-topper {
  display: flex;
  justify-content: space-between;
  border-radius: 2%;
  width: 100%;
  height: 15%;
  background: rgb(148,36,36);
  background: linear-gradient(105deg, rgba(148,36,36,0.9262079831932774) 16%, rgba(241,24,10,0.758140756302521) 97%);
}

.task-label {
  padding: 0;
  flex: 1;
}

.task-label h2 {
  margin-left: 5%;
  font-size: 30px;
  color: white;
}

#closing-button {
  color: white;
  cursor: pointer;
  line-height: 5px;
  font-size: 30px;
  padding: 10px;
}

#title-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 20px auto;
  font-size: 20px;
}

#title-input {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 98%;
  min-width: 98%;
  font-size: 15px;
  display: flex;
  align-items: center;
}

#notes-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto 20px auto;
  font-size: 20px;
}

#notes-input {
  font-size: 15px;
  max-width: 98%;
  max-height: 100px;
  min-width: 98%;
  min-height: 100px;
  text-align: left;
}

#deadline-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto 20px auto;
  font-size: 20px;
}

#deadline-input {
  height: 40px;
}

#priority-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto 20px auto;
  font-size: 20px;
}

#priority-input {
  height: 40px;
}

#form-line {
  width: 90%;
  border-top: .5px solid rgb(173, 167, 167);
  margin: 23px auto;
  opacity: .6;
}

#form-footer {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-bottom: 10px;
}

.form-button {
  height: 40px;
  width: 100px;
  border-radius: 5%;
  border: 2px solid rgb(51, 9, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: white;
  cursor: pointer;
}

/* Screen for viewing details about a to do */
#todo-info {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 2%;
  color: rgb(107, 102, 102);
  box-shadow: 2px 5px 16px 8px rgba(0,0,0,0.31);
  font-family: todo-font;
  margin: 0 auto;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 229, 224);
}

#todo-info h2 {
  font-size: 40px;
}

#todo-info p {
  font-size: 25px;
  margin: 10px;
}


#info-closing-button {
  color: white;
  cursor: pointer;
  line-height: 5px;
  font-size: 30px;
  padding: 10px;
}

#info-title-div {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#info-title-input {
  border: 1px solid rgb(128, 33, 33);
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-notes-div {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#info-notes-input {
  border: 1px solid rgb(128, 33, 33);
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-deadline-div {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#info-deadline-input {
  border: 1px solid rgb(128, 33, 33);
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-priority-div {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#info-priority-input {
  border: 1px solid rgb(128, 33, 33);
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* re-styling for larger screened portable viewports */
@media only screen and (max-width: 1000px) {
  #page-header h1 {
    font-size: 40px;
  }

  #side-menu {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .show-side-menu {
    visibility: visible !important;
    height: 91% !important;
    width: 300px !important;
    z-index: 1 !important;
    position: absolute;
  }

  #todo-lists {
    width: 100%;
  }

  #todo-container {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #list-line {
    width: 80%;
   
  }

  .menu-dropper {
    visibility: visible;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 15px 5px;
    cursor: pointer;
  }

 
}

/* Styling for mid sized phones */
@media only screen and (max-width: 500px) {
  .logo-mid {
    color: white;
    --fa-animation-duration: 2.1s;
    --fa-animation-iteration-count: 1;
    font-size: 20px;
  }
  
  .logo-large {
    color: white;
    --fa-animation-duration: 2.1s;
    --fa-animation-iteration-count: 1;
    font-size: 25px;
  }

  .todo {
    background-color: rgb(251, 242, 242);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    border: 1px solid rgb(173, 167, 167);
    border-radius: 5px;
    margin: 23px auto;
    padding: 5px;
  }

  .todo p {
    font-size: 12px;
  }

  #todo-info {
    width: 100%;
  }
  
  .checkbox-and-title {
    width: 40%;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .checkbox-and-title p {
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .date-icons-for-editing {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

/* Styling for small screens */
@media only screen and (max-width: 330px) {
  #page-header h1 {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
  }

  #page-header span {
    font-size: 30px;
  }

  .menu-dropper {
    font-size: 20px;
  }

  .logo-small {
    color: white;
    --fa-animation-duration: 2.1s;
    --fa-bounce-land-scale-x: 1.5;
    --fa-animation-iteration-count: 1;
    font-size: 15px;
  }

  #list-line {
    width: 90%;
   
  }
  
  #todo-form {
    width: 240px;
    border-radius: 2%;
    color: rgb(107, 102, 102);
    box-shadow: 2px 5px 16px 8px rgba(0,0,0,0.31);
    font-family: todo-font;
    margin: 0 auto;
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 229, 224);
  }

  #todo-info {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    border-radius: 2%;
    color: rgb(107, 102, 102);
    box-shadow: 2px 5px 16px 8px rgba(0,0,0,0.31);
    font-family: todo-font;
    margin: 0 auto;
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 229, 224);
  }

  #todo-info h2 {
    font-size: 30px;
    margin: 3px;
    line-height: 70px;
  }

}